body {
  background-image: url("./assets/images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: "rgba(0, 0, 0, 0.5)";
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}


::-webkit-scrollbar-track {
  border-radius: 30px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background-color: #AF93DB;
}

.header {
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.18);
  backdrop-filter: blur(50px);
}

/* 

transistion home 1
.transist::before{
  content: '';
  color: #aa3939;
  animation: profile 2s infinite;
}
@keyframes profile {
  0% { content: 'singer'}
  50% { content: 'magician'}
  100% { content: 'storyteller'}
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}